{include file="common/head"/}

<!-- maincontent start here -->
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="category">Python基础</div>
            <strong>网络教程推荐：</strong>

            1. 系统学习python3可以看廖雪峰老师的教程：
            教程地址：[点击查看](https://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000)

            2. 系统学完也不一定记得很清楚，这时我们需要一个快速的查询手册，菜鸟教程是一个不错的选择：
            教程地址：[点击查看](http://www.runoob.com/python3/python3-tutorial.html)

            3. 快速掌握知识的一个方法就是多加练习，对于初学者一味的做练习题显得过于枯燥，实验楼可以帮助你，找到你感兴趣的小实验：
            学习地址：[点击查看](http://www.runoob.com/python3/python3-tutorial.html)

            <div class="category">SQL基础</div>
            <strong>网络教程推荐：</strong>
            我还是感觉，`菜鸟教程`是一个不错的选择，指令查询起来很方便，推荐给大家。
            教程地址：[点击查看](http://www.runoob.com/sql/sql-tutorial.html)

            <div class="category">算法入门</div>
            <strong>网络教程推荐：</strong>
            1. 对于非科班出身的人来说，补充下算法基础还是很有必要的，不过枯燥的算法可能打消很多人的积极性，`《算法图解》`（python）图文并茂，通俗易懂，真的很适合入门（密码: ri1r）：
            教程地址: [点击查看](https://pan.baidu.com/s/1_pnVyLwQkIlPgRa0qlx-UA)

            2. 对于学生而言，面试各大公司的第一关就是笔试，想要快速具备一定的code能力，可以试试`《剑指offer》(c/c++)`（密码: 63qb):
            教程地址：[点击查看](https://pan.baidu.com/s/1zpcp4yNUFqM4wdvO0FDhfw)


            <div class="category">网络爬虫</div>
            <strong>书籍资源推荐：</strong>
            1. 想系统学习下网络爬虫，看`《Python数据采集》`是个不错的选择（密码: xuan）：
            教程地址：[点击查看](https://pan.baidu.com/s/1SlG-qXUyCt2c0acjeX25aQ)

            2.付费课程：**Python3数据分析与挖掘实战** ~~原价899~~ [**现价50**](https://item.taobao.com/item.htm?id=567103981930)
            <p>
                <a href="https://item.taobao.com/item.htm?id=567103981930"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E7%88%AC%E8%99%AB.jpeg" width="130" style="max-width:100%;margin:0px 5px" alt="python爬虫"></a><a><img src="http://p5gpeq59m.bkt.clouddn.com/python.jpeg" width="150" style="max-width:100%;margin:0px 5px" alt="python爬虫"></a>
            </p>

            <div class="category">机器学习</div>
            <strong>网络视频推荐：</strong>
            `吴恩达`老师的机器学习视频，必看经典，不容错过：
            视频地址：[点击查看](https://www.coursera.org/learn/machine-learning)

            <strong>书籍资源推荐：</strong>

            1. 我的入门书籍是《机器学习实战》，我喜欢动手性强的书（密码：vq89）：
            教程地址：[点击查看](https://pan.baidu.com/s/1AxXQDrM2VbMtdTgAOqDeig)

            2. 机器学习实战的书籍理论推导过于简练，可以看《统计学习方法》进行辅助学习（密码：ytnt）：
            教程地址：[点击查看](https://pan.baidu.com/s/1HD4U6UZPqinOOSIffcB10g)

            3. 更偏向于理论的经典之作，周志华老师的《机器学习》，不过需要具备一定基础才能看懂的西瓜书推荐给大家（密码：ace6）：
            教程地址：[点击查看](https://pan.baidu.com/s/112ghc2vBaqKuj8Hznq4eYg)



            <div class="category">深度学习</div>
            <strong>网络视频推荐：</strong>
            `吴恩达`老师的视频，非常赞！
            视频地址：[点击查看](http://mooc.study.163.com/smartSpec/detail/1001319001.htm)

            <strong>书籍资源推荐：</strong>
            对于想学习Tensorflow的初学者来说，《Tensorflow实战Google深度学习框架》不容错过（密码: r8nw）：
            教程地址：[点击查看](https://pan.baidu.com/s/195ZZDBcLyUuURMXsHcKzbg)

            <div class="category" id="php">PHP学习资源</div>
            <strong>付费教程</strong>
            **Swoole慕课网教程**  ~~原价299~~ [**现价10元**]  添加微信  **tommygeli**(请求时说明swoole)  付费获取
            <img src="http://p5gpeq59m.bkt.clouddn.com/resources/swoole.jpg" width="380" style="max-width:100%;margin:0px 5px" alt="Swoole教程">

            <strong>网络视频推荐：</strong>

            1. PHP基础视频(密码: 2s5r)
            视频地址：[点击查看](https://pan.baidu.com/s/1_UbEa6fzkfERQatFDG2x3A)

            2. ThinkPHP搭建CMS系统(密码: wzs1)
            视频地址：[点击查看](https://pan.baidu.com/s/1ErSfLT8eICUYwwZgNCs2Ow)

            3. Redis教程(密码: t5gx)
            视频地址：[点击查看](https://pan.baidu.com/s/1YYzBGEXE_AbeQ3Sv_1VZ9A)

            4. Linux教程(密码: c7t7)
            视频地址：[点击查看](https://pan.baidu.com/s/1LNCAH8o_GmT2IqX5F7FFqg)

            <div class="category">计算机网络</div>
            <p>
                <a href="https://pan.baidu.com/s/1mJyQK4u52a5kwPqdcFyu9A"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%BD%91%E7%BB%9C.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1sJYzBt0kJHB2KhsSp9D29w"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/TCP:IP%E8%AF%A6%E8%A7%A3.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1Fe14_T6IfSbgDeCDfV5ecA"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E5%9B%BE%E8%A7%A3HTTP.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1Myb0Pr3l5KXobqYaiYAl9g"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E5%9B%BE%E8%A7%A3TCP:IP.jpg" width="130" style="max-width:100%;margin:0px 5px"></a>
            </p>

            <div class="category">操作系统</div>
            <p>
                <a href="https://pan.baidu.com/s/1BcDtgXxMsYseuNr5BDnvmQ"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E8%AE%A1%E7%AE%97%E6%9C%BA%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1TY6f-GTtXFLvmXP54UHT5w"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E9%B8%9F%E5%93%A5%E7%9A%84Linux.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1-gV6YoITRFBBezR2i0lgTg"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E6%B7%B1%E5%85%A5%E7%90%86%E8%A7%A3%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%B3%BB%E7%BB%9F.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1BMy2HUzjLnvRc2avRdw4Ew"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E7%8E%B0%E4%BB%A3%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F.jpg" width="130" style="max-width:100%;margin:0px 5px"></a>
            </p>

            <div class="category">数据库</div>
            <p>
                <a href="https://pan.baidu.com/s/1TX6bPmHvC3KMtL7wnGaIJg"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E6%95%B0%E6%8D%AE%E5%BA%93%E7%B3%BB%E7%BB%9F%E6%A6%82%E8%AE%BA.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1SSH7hlsUMMSyfTRW1i35fw"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E9%AB%98%E6%80%A7%E8%83%BDMySQL.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1Rx4ac0BQXq9OE-YZkbLsoA"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/SQL%E5%BF%85%E7%9F%A5%E5%BF%85%E4%BC%9A.jpg" width="130" style="max-width:100%;margin:0px 5px"></a>
            </p>

            <div class="category">工具</div>
            <p>
                <a href="https://pan.baidu.com/s/1ZRSzCZtXFJwOLCKa2JASBA"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/ProGit.jpg" width="130" style="max-width:100%;margin:0px 5px"></a><a href="https://pan.baidu.com/s/1yuip6mGUPby5l_afE9SQbg"><img src="http://p5gpeq59m.bkt.clouddn.com/resources/%E6%AD%A3%E5%88%99%E8%A1%A8%E8%BE%BE%E5%BC%8F%E5%BF%85%E7%9F%A5%E5%BF%85%E4%BC%9A.jpg" width="130" style="max-width:100%;margin:0px 5px"></a>
            </p>

        </div>
    </div>
    {include file="common/sidebar"/}
</section>

{include file="common/footer"/}