{include file="common/head"/}

<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{:lang('module')}{:lang('list')}</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <a href="{:url('add')}" class="layui-btn layui-btn-small">{:lang('add')}{:lang('article')}</a>
    </blockquote>
    <table class="layui-table" id="list" lay-filter="list">
        <thead>
            <th>key</th>
            <th>mineType</th>
            <th>生成时间</th>
        </thead>
    </table>
</div>
{include file="common/foot"/}

<script>
var qiniuMarker = '';
var table = $('#list');
var page = 1;
var limit = 10;
const Storage = {};
Storage.set = function(name, val) {
    localStorage.setItem(name, JSON.stringify(val))
}

Storage.get = function(name) {
    return JSON.parse(localStorage.getItem(name))
}

renderTable(page, limit)

Storage.set('qiniupage1', 'val');
console.log(Storage.get('qiniupage1'))

function renderTable(page, limit)
{
    $.ajax({
        url: "/admin/article/imageList",
        data: {
            prefix: '',
            marker: '',
            limit: 10
        },
        success: function(result) {
            console.log(result)
            if (page == 1) {
                
            }
        },
        error: function(error) {
        }
    })
}



// nS 纳秒
function getLocalTime(nS) {
    return new Date(parseInt(nS/(10000))).toLocaleString();
}
  
</script>